.paginationWrap {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 36px;
    font-size: 0;
}

.paginationWrap ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;

}

.paginationWrap ul.pagination li {
    display: inline;
}

.paginationWrap ul.pagination li a {
    color: #8c7a6b;
    padding: 5px 12px;
    text-decoration: none;
    border: solid 1px #e3d8cd;
    border-radius: 2px;
    font-size: 16px;
}



.paginationWrap ul.pagination li a.active {
    background-color: #8c7a6b;
    color: white;
}


